<section id="projetos" class="projetos-section">
  <h1 class="section-title">Projetos</h1>

  <div class="projetos-container">
    @for (projeto of projetos; track projeto.nome) {

      <mat-card class="projeto-card">

        <div class="image-wrapper">
          <img
            mat-card-image
            [src]="projeto.imagem"
            [alt]="projeto.nome">

          <div class="overlay">
            <span>Ver Projeto</span>
          </div>
        </div>

        <mat-card-content>
          <h2>{{ projeto.nome }}</h2>
          <p>{{ projeto.descricao }}</p>
        </mat-card-content>

        <mat-card-actions>
          <a
            mat-raised-button
            color="primary"
            [href]="projeto.github"
            target="_blank">

            GitHub
          </a>
        </mat-card-actions>

      </mat-card>

    }
  </div>
</section>