<section id="projetos" class="projetos-section">
  <h1>Projetos</h1>

  <div class="projetos-container">
    @for (portifolio of projetos; track portifolio.nome) 
    {
      <mat-card class="projeto-card" appearance="outlined">
        <img mat-card-image [src]="portifolio.imagem" [alt]="portifolio.nome" />
        <mat-card-content>
          <h2>{{ portifolio.nome }}</h2>
          <p>{{ portifolio.descricao }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent">
            <a [href]="portifolio.github" target="_blank">GitHub</a>
          </button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</section>
