    <section id="projetos" class="projetos-section">
      <h1>Projetos</h1>
      <div class="projetos-container">
        <mat-card class="projeto-card" appearance="outlined">
          <img mat-card-image src="assets/imgs/apicleanarch.jpeg" alt="Projeto Clean-Architecture">
          <mat-card-content>
            <h2>CleanArchMvc</h2>
            <p>O CleanArchMvc é uma aplicação desenvolvida em C# utilizando ASP.NET Core que implementa os princípios da Clean Architecture e do SOLID com a arquitetura MVC (Model-View-Controller). 
              O projeto contém uma versão visual do site, permitindo gerenciar categorias e produtos, além de uma API REST segura para operações externas com a utilização do token jwt.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent"><a href="https://github.com/liimaluis/Clean-Architecture" target="_blank">GitHub</a></button>
          </mat-card-actions>
        </mat-card>
    
        <mat-card class="projeto-card" appearance="outlined">
          <img mat-card-image src="assets/imgs/projetopeformance.jpeg" alt="Projeto Performance">
          <mat-card-content>
            <h2>Projeto Performance</h2>
            <p>Um dos meus primeiros projeto freelancers, sendo uma página web com um front-end estruturado em react a partir de componentes, 
              sendo integrado a uma api no qual foi densenvolvida em nodejs com o banco de dados não relacional para o salvamento de dados, nos quais são enviados via formulário
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent"><a href="https://github.com/liimaluis/Performance" target="_blank">GitHub</a></button>
          </mat-card-actions>
        </mat-card>
    
        <mat-card class="projeto-card" appearance="outlined">
          <img mat-card-image src="assets/imgs/apinode.png" alt="Projeto ApiNode com autenticação token jwt">
          <mat-card-content>
            <h2>API e-commerce</h2>
            <p>API feita para e-commerce com rotas autenticadas com Token JWT.
               Utilizando Node Js e banco de dados MYSQL rodando em container no docker
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent"><a href="https://github.com/liimaluis/API-REST" target="_blank">GitHub</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>
