<section id="apresentacao" class="apresentacao-section">
      <div class="apresentacao-container">
        <div class="apresentacao-foto">
          <img src="assets/imgs/eu.jpg" alt="Minha Foto" />
        </div>
    
        <div class="apresentacao-texto">
          <h1 class="nome">Luis Henrique</h1>
          <h2 class="cargo" id="cargo">Desenvolvedor Full Stack</h2>
          <p class="descricao">
            Sou um Desenvolvedor Full Stack com ampla experiência na área de desenvolvimento,
            seja no back ou no front-end, com conhecimento em diversas linguagens, bancos de dados e arquiteturas.
          </p>
        </div>
      </div>
</section>