.conhecimentos-section {
  padding: 80px 10%;
}

.section-title {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1.5rem;
}

.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1.5rem;

  border-radius: 20px;

  background: rgba(255,255,255,.05);

  backdrop-filter: blur(10px);

  border: 1px solid rgba(255,255,255,.08);

  transition: .3s ease;
}

.tech-card:hover {
  transform: translateY(-8px);

  border-color: #ffcc00;

  box-shadow:
    0 10px 25px rgba(76,175,80,.25);
}

.tech-card img {
  width: 50px;
  height: 50px;
}

.tech-card span {
  color: white;
  font-weight: 500;
}