<section id="Conhecimentos" class="conhecimentos-section">

  <h1 class="section-title">
    Tecnologias & Ferramentas
  </h1>

  <div class="categorias">

    @for (categoria of categorias; track categoria.categoria) {

      <div class="categoria-card">

        <h2>{{ categoria.categoria }}</h2>

        <div class="tech-grid">

          @for (tech of categoria.tecnologias; track tech.nome) {

            <div class="tech-card">

              <img
                [src]="tech.icone"
                [alt]="tech.nome">

              <span>{{ tech.nome }}</span>

            </div>

          }

        </div>

      </div>

    }

  </div>

</section>