<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav para mobile -->
  <mat-sidenav #sidenav mode="over" class="mobile-sidenav">
    <a mat-list-item href="#sobremim" (click)="sidenav.close()">Sobre mim</a>
    <a mat-list-item href="#projetos" (click)="sidenav.close()">Projetos</a>
    <a mat-list-item href="#Conhecimentos" (click)="sidenav.close()">Conhecimentos</a>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="custom-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="logo">Meu Portfólio</span>
      <span class="spacer"></span>

      <!-- Links desktop -->
      <nav class="desktop-links">
        <a mat-button href="#sobremim">Sobre mim</a>
        <a mat-button href="#projetos">Projetos</a>
        <a mat-button href="#Conhecimentos">Conhecimentos</a>
        <a mat-stroked-button color="primary" class="contact-btn" href="#sobremim">
          Contato
        </a>
      </nav>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
