mat-toolbar.custom-toolbar {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 90% !important;
  max-width: 1200px;
  height: 70px !important; 
  border-radius: 20px;
  background: rgba(20, 20, 20, 0.75) !important;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: white !important;
  z-index: 1000;
  padding: 0 30px !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  
 
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}


.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: max-content;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.role {
  font-size: 0.8rem;
  color: #9e9e9e;
}

.spacer {
  flex: 1 1 auto !important;
}


.desktop-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.desktop-links a {
  position: relative;
  text-decoration: none;
  color: white !important;
  font-weight: 500;
}

.desktop-links a:not(.contact-btn)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #ffcc00;
  transition: 0.3s ease;
}

.desktop-links a:hover::after {
  width: 100%;
}


.contact-btn {
  padding: 10px 20px;
  border-radius: 999px;
  background: linear-gradient(135deg, #ffcc00, #dab00c);
  color: white !important;
  text-decoration: none;
  transition: 0.3s ease;
  white-space: nowrap;
}

.contact-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(76, 175, 80, 0.3);
}


.menu-button {
  display: none !important;
  align-items: center;
  justify-content: center;
}


@media (max-width: 991px) {
  .desktop-links {
    display: none !important; 
  }

  button.menu-button {
    display: inline-flex !important;
    color: white !important;
  }
  
  mat-toolbar.custom-toolbar {
    padding: 0 20px !important;
    width: 95% !important; 
  }
}