<section id="sobremim" class="sobremim-section">

  <div class="sobremim-container">

    <div class="foto-container">
      <img src="assets/imgs/fotoprogramacao.jpg" alt="Luis Henrique">
    </div>

    <div class="sobremim-content">

      <p class="descricao-principal">
        Experiência em projetos freelancers e
        ambientes corporativos, atuando no desenvolvimento de sistemas
        Backoffice, B2B e integrações empresariais.
      </p>

      <p class="descricao-secundaria">
        Tenho experiência com .NET, Angular, Node.js, PHP, bancos de dados
        relacionais e não relacionais, além de arquiteturas modernas como
        Clean Architecture, MVC e princípios SOLID.
      </p>

      <div class="skills">

        <span>.NET</span>
        <span>Angular</span>
        <span>C#</span>
        <span>Node.js</span>
        <span>AWS</span>
        <span>Azure</span>
        <span>Sql Server</span>

      </div>

      <div class="highlights">

        <div class="highlight-card">
          <h3>Full Stack</h3>
          <span>Frontend + Backend</span>
        </div>

        <div class="highlight-card">
          <h3>Clean Architecture</h3>
          <span>Arquitetura escalável</span>
        </div>

        <div class="highlight-card">
          <h3>Cloud</h3>
          <span>AWS e Azure</span>
        </div>

      </div>

      <div class="actions">

        <a
          class="btn-primary"
          href="assets/files/CurriculoLuisHenrique.pdf"
          download>

          Baixar CV
        </a>

        <a
          class="btn-secondary"
          href="https://www.linkedin.com/in/luis-henrique-3b2698159/"
          target="_blank">

          LinkedIn
        </a>

        <a
          class="btn-github"
          href="https://github.com/liimaluis"
          target="_blank">
          GitHub
        </a>

      </div>

      <div class="socials">

        <div class="email">
          <p>luish6629gmail.com</p>
        </div>

      </div>

    </div>

  </div>

</section>