
    .sobremim-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    color: white;
    min-height: 100dvh;
  }

  .sobremim-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    gap: 60px;
  }

  .foto-programação img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }

    .sobremim-texto {
    flex: 1;
  }

  .contato {
    margin-top: 30px;
    text-align: left; 
  }

  .redes h3 {
    margin-bottom: 10px;
  }

  .contato-icons {
    display: flex;
    gap: 15px;
  }

  .contato-icons img {
    transition: transform 0.2s ease;
  }

  .contato-icons img:hover {
    transform: scale(1.1);
  }
  
  .email-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 12px;
    border-radius: 10px;
  }

  .email-icon {
    width: 24px;
    height: 24px;
  }

  @media screen and (max-width: 768px) { 

    .sobremim-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .contato {
      text-align: center; 
    }

    .email-info {
      font-size: 0.9rem;
      gap: 6px;
      padding: 5px 10px;
    }

    .email-icon {
      width: 20px;
      height: 20px;
    }

  }