.sobremim-section {
  padding: 100px 10%;
  background: #0f0f0f;
}

.sobremim-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.foto-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.foto-container img {
  width: 350px;
  max-width: 100%;
  border-radius: 24px;

  border: 2px solid rgba(255,255,255,.08);

  transition: .4s ease;
}

.foto-container img:hover {
  transform: scale(1.03);

  box-shadow:
    0 20px 50px rgba(0,0,0,.5);
}

.sobremim-content {
  flex: 2;
}

.tag {
  display: inline-block;

  padding: 8px 16px;

  border-radius: 999px;

  background: rgba(76,175,80,.15);

  color: #ffcc00;

  margin-bottom: 1rem;
}

.sobremim-content h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 1.5rem;
}

.highlight {
  color: #ffcc00;
}

.descricao-principal,
.descricao-secundaria {
  color: #cfcfcf;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  margin-top: 2rem;
}

.skills span {
  padding: .5rem 1rem;

  border-radius: 999px;

  background: rgba(255,255,255,.05);

  border: 1px solid rgba(255,255,255,.08);

  color: white;

  transition: .3s;
}

.skills span:hover {
  border-color: #ffcc00;
  transform: translateY(-3px);
}

.highlights {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.highlight-card {
  flex: 1;

  padding: 1.5rem;

  border-radius: 20px;

  background: rgba(255,255,255,.05);

  backdrop-filter: blur(10px);

  border: 1px solid rgba(255,255,255,.08);

  text-align: center;
}

.highlight-card h3 {
  color: #ffcc00;
  margin-bottom: .5rem;
}

.highlight-card span {
  color: #ccc;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-primary,
.btn-secondary,
.btn-github {
  padding: 14px 28px;

  border-radius: 999px;

  text-decoration: none;
  font-weight: 600;

  transition: .3s ease;
}

.btn-primary {
  background: linear-gradient(
    135deg,
    #ffcc00,
    #ffcc00
  );

  color: white;
}

.btn-primary:hover {
  transform: translateY(-4px);

  box-shadow:
    0 10px 25px rgba(76,175,80,.3);
}

.btn-secondary {
  border: 1px solid #0077b5;
  color: #0077b5;
}

.btn-secondary:hover {
  background: #0077b5;
  color: white;
}

.btn-github {
  border: 1px solid #000000;
  color: #ffffff;
}

.btn-github:hover {
  background: #000000;
  color: white;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.socials img {
  width: 32px;
  transition: .3s;
}

.socials img:hover {
  transform: scale(1.15);
}

.email {
  text-decoration: none;
  color: #cfcfcf;
  display: flex;
  align-items: center;
  gap: 8px;
}

.email-icon {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {

  .sobremim-container {
    flex-direction: column;
    text-align: center;
  }

  .highlights {
    flex-direction: column;
  }

  .actions {
    justify-content: center;
    flex-wrap: wrap;
  }

  .socials {
    justify-content: center;
    flex-wrap: wrap;
  }

  .skills {
    justify-content: center;
  }

  .sobremim-content h1 {
    font-size: 2.2rem;
  }
}